
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100&display=swap');
.center{
  display: flex;
  justify-content: center;
}
.margin-top{
  margin-top: 16px;
}
.margin-bottom{ margin-bottom: 16px;}

.text-center{
  text-align: center;
}
*{
  padding:0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-account-profile {
    background-color: #170a4bfa;
    font-family: Montserrat, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
}
@media screen and (max-width:768px){
    app-account-profile {
        background-color: #170a4bfa;
        font-family: Montserrat, sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        min-height: 90vh;
    }
}
